/* .background {
  background: 
} */
.form-group {
  margin-bottom: 5px;
}
body {
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../pics/fast-food.jpg") no-repeat center center fixed;
  background-size: cover;
}

#adding {
  display: relative;
  justify-content: center;
}
.all {
  justify-content: center;
  display: table;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
}
h1 {
  display: inline;
}
button {
  margin: 1%;
  background: rgba(255, 194, 62, 0.9);
  border-radius: 4px;
}
.card {
  background: rgba(255, 194, 62, 0.7);
  width: 90%;
}
.eat,
.delete {
  float: right;
}
h2 {
  text-align: center;
}
.col-xs-1 {
  margin: 5%;
  background: rgba(255, 194, 62, 0.5);
}
li {
  display: flow-root;
}

#burger_name {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  text-align: center;
}
#eaten {
  color: rgb(97, 98, 98);
}
